@page "/"

<PageTitle>Index</PageTitle>

<h1>Welcome to Character Wizard. </h1>

Welcome to your new app.



<p role="status">Current count: @currentCount</p>




@code {
    private string currentCount = "0";




    private int questionInt = 1;

    private void CheckQuestionInt()
    {
        switch (questionInt)
        {
            case 1:
                currentCount = "testText";
                Thread.Sleep(2000);
               
                break;
                

        }
    

    
    }

    protected override void OnInitialized()
    {
        CheckQuestionInt();
        
    }
}

