@page "/"

<div class="intro">
    <h1>Welcome to Character Wizard. <img src="https://files.catbox.moe/ayve68.png" /> </h1>
<p>2024 - 20XX by N. D. for the Congressional App Challenge</p>

</div>

<div class="game">
<p>@currentQuestion</p>

@foreach (var answer in currentAnswers)
{
    <button @onclick="() => CheckAnswer(answer)">@answer</button>
}
<p>  @Results </p>

</div>

@code {
    private int currentScore = 0;
    private int currentQuestionIndex = 0;
    private string Results = "";

    private List<string> questionsList = new List<string>
    {
        "Would you say that your character's color palette has a balance of colors?",
        "Is your character's backstory mostly sad, overly happy, or a realistic blend?",
        "Do your story's circumstances center around your character?",
        "Do you understand your character's sense of morality and justice?",
        "When your character makes a decision, is there always a good reason behind it?"
    };

    private List<List<string>> answers = new List<List<string>>
    {
        new List <string> { "Yes", "No", "Not Applicable" },
        new List <string> { "Depressingly sad", "Nothing bad happens!", "A realistic blend of events" },
        new List <string> { "Yes, my character is The Chosen Special One", "The world would still exist without them", "Not applicable" },
        new List <string> {"Yes, I understand their stance on fairness and morality", "I do not understand, I just assume they'd do whatever", "Not applicable"},
        new List <string> {"No, my character does whatever they want with no regard for logic", "Yes, I try to make my character's actions believable for their personality and backstory", "not applicable"}
    };

    private List<string> correctAnswers = new List<string>
    {
        "Yes",
        "A realistic blend of events",
        "The world would still exist without them",
        "Yes, I understand their stance on fairness and morality",
        "Yes, I try to make my character's actions believable for their personality and backstory"
    };

    private string currentQuestion;
    private List<string> currentAnswers;

    protected override void OnInitialized()
    {
        LoadQuestion();
    }

    private void LoadQuestion()
    {
        if (currentQuestionIndex < questionsList.Count)
        {
            currentQuestion = questionsList[currentQuestionIndex];
            currentAnswers = answers[currentQuestionIndex];
        }
        else
        {
            if (currentScore >= 3) {
                Results = "test complete ID 1";

    } else
            {
                Results = "Test complete ID 2";
            }
            currentAnswers = new List<string>();
        }
    }

    private void CheckAnswer(string answer)
    {
        if (answer == correctAnswers[currentQuestionIndex])
        {
            currentScore++;
        }

        currentQuestionIndex++;
        LoadQuestion();
    }
}
