@page "/"


<h1>Welcome to Character Wizard. <img src="https://media.discordapp.net/attachments/1184656933286858806/1279184110161629294/wizardbunny.png?ex=66d38489&is=66d23309&hm=330b8ce4dca88617f3253f7b486e512725bffacdd890de58d7e9515e96730cae&=&format=webp&quality=lossless&width=473&height=473" /> </h1>
<div class="game">
<p>@currentQuestion</p>

@foreach (var answer in currentAnswers)
{
    <button @onclick="() => CheckAnswer(answer)">@answer</button>
}

<p role="status">Current score: @currentScore</p>
</div>

@code {
    private int currentScore = 0;
    private int currentQuestionIndex = 0;

    private List<string> questionsList = new List<string>
    {
        "question1",
        "question2",
        "question3",
        "question4",
        "question5"
    };

    private List<List<string>> answers = new List<List<string>>
    {
        new List<string> { "A", "B", "C" },
        new List<string> { "D", "E", "F" },
        new List<string> { "G", "H", "I" },
        new List <string> {"K", "L", "M"},
        new List <string> {"N", "O", "P"}
    };

    private List<string> correctAnswers = new List<string>
    {
        "B",
        "E",
        "H",
        "M",
        "O"
    };

    private string currentQuestion;
    private List<string> currentAnswers;

    protected override void OnInitialized()
    {
        LoadQuestion();
    }

    private void LoadQuestion()
    {
        if (currentQuestionIndex < questionsList.Count)
        {
            currentQuestion = questionsList[currentQuestionIndex];
            currentAnswers = answers[currentQuestionIndex];
        }
        else
        {
            currentQuestion = "Quiz completed!";
            currentAnswers = new List<string>();
        }
    }

    private void CheckAnswer(string answer)
    {
        if (answer == correctAnswers[currentQuestionIndex])
        {
            currentScore++;
        }

        currentQuestionIndex++;
        LoadQuestion();
    }
}
